body {
    background-color: #121212;
}
h1#top {
    font-family: "Courier New", monospace;
    background-color: #2e2d2d;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    font-size: 45px;
    width: 100%;
}
.mails{
    font-family: "Courier New", monospace;
    background-color: #1b1b1b;
    width: 100%;
    color: yellow;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.sent {
    float: left;
    width:580px;
    margin: 10px;
}
.inbox {
    float: left;
    width: 590px;
    margin: 10px;
}
#datetime {
    color: orange;
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
}
#date {
    color: cyan;
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
}
.calendar {
    width: 580px;
    height: 450px;
    border-style: solid;
    border-color: rgb(183, 244, 244);
    border-width: 6px;
    margin: 15px;
    float: left;
}